* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;

  h1 {
    margin-bottom: 25px;
  }

  span {
    color: red;
    margin-bottom: 10px;
  }

  input {
    width: 20%;
    height: 50px;
    margin-bottom: 25px;
    font-size: 30px;
  }
  div {
    width: 20%;
    height: 50px;
    margin-bottom: 10px;
    background-color: gray;
    border-radius: 5px;
  }
}

@media screen and (max-width: 720px) {
  section {
    input {
      width: 60%;
    }
    div {
      width: 60%;
    }
  }
}
